<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Teams</title>
</head>
<style>
   .inner-container{
       display: flex;
       margin: 10px;
       height: 90vh;
   }
   .left{
       width: 40%;
       box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
       margin: 10px;
       padding: 10px;
       
   }
   .mid{
       width: 40%;
       box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
       margin: 10px;
       padding: 10px;
   }
   .right{
       width:20%;
       box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
       margin: 10px;
       padding: 10px;
   }
   .side-btn{
       display: block;
    padding: 20px 30px;
    width: 95%;
    margin: 40px auto;
    color: white;
    background: black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 14px;
   }
   .side-btn:hover{
       cursor: pointer;
   }
   .students{
       padding: 5px 10px;
    font-size: 20px;
   }
   .team-name{
       text-align: center;
    padding: 5px 0px;
   }
</style>

<body>
    <div class="container">
        {{#if teacher}}
            {{>trnavbar}}
        {{else}}
            {{>navbar}}
        {{/if}}
        <div id="content">
            <h1 class="team-name">{{teamname}}</h1>
            <div class="inner-container">
            <div class="left">
                <h1>Teachers</h1>
                {{#each teachers}}
                <p class="students">{{this.email}}</p>
                {{/each}}
            </div>
            <div class="mid">
<h1>Students</h1>
                {{#each students}}
                <p class="students">{{this.member}}</p>
                {{/each}}
            </div>
            <div class="right">
                {{#if teacher}}
                <button class="side-btn">Create Assignment</button>
                <button class="side-btn">Add Members</button>
                <button class="side-btn">View Assignments</button>
                <button class="side-btn">Set Meeting</button>
                <button class="side-btn">Upload Notes</button>
                {{else}}
                    <button class="side-btn">Submit Assignment</button>
                <button class="side-btn">Meetings</button>
                <button class="side-btn">Notes</button>
                <button class="side-btn">Set Meeting</button>
                {{/if}}
            </div>
            </div>
            
        </div>
    </div>

</body>

</html>